PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster>.mongodb.net/preschool_management?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173
USE_MEMORY_DB=false
